@mixin animation ($delay, $duration, $animation_name) {
  -webkit-animation-delay: $delay;
  -webkit-animation-duration: $duration;
  -webkit-animation-name: $animation_name;
  -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -moz-animation-delay: $delay;
  -moz-animation-duration: $duration;
  -moz-animation-name: $animation_name;
  -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  -o-animation-delay: $delay;
  -o-animation-duration: $duration;
  -o-animation-name: $animation_name;
  -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

  animation-delay: $delay;
  animation-duration: $duration;
  animation-name: $animation_name;
}

@mixin keyframe ($animation_name) {
  @-webkit-keyframes $animation_name {@content;}
  @-moz-keyframes $animation_name {@content;}
  @-o-keyframes $animation_name {@content;}
  @keyframes $animation_name {@content;}
}

@include keyframe(MenuEase-1) {
  from {left: -272px;}
  to {left: -272px + $deltaMenu;}
}

@include keyframe(MenuEase-2) {
  from {left: -272px + $deltaMenu;}
  to {left: -272px;}
}
