.b {
	.first {display: block;}
	.second {display: none;}
}
.b_open {
	.first {display: none;}
	.second {display: block;}
}

.b-handler {
	@include forDesktop;
}

.b-line {
	height: 44px;
	display: block;
	position: relative;
	background: #e6eaf1;
}
	.b-line-pic {
		@include wihe(44px);
		@include pos-tl;

		IMG {
			@include wihe(44px);
		}
	}
	.b-line-title {
		height: 44px;
		margin-left: 15px;
		display: block;
		text-decoration: none;
		line-height: 44px;

		SPAN {
			display: block;
			font-size: 14px;
			color: #647289;
			font-family: $font-HelveticaNeueCyrLight;
		}
	}
	.b-line_pic .b-line-title {
		margin-left: 54px;
	}
	.b-line_multiline .b-line-title {
		line-height: 1em;

		SPAN:nth-child(1) {
			padding-top: 9px;
			color: #647289;
			font-size: 14px;
		}
		SPAN:nth-child(2) {
			padding-top: 5px;
			color: #0f71c3;
			font-size: 11px;
			line-height: 15px;

			A {
				color: #0f71c3;
				text-decoration: none;
				font-family: $font-HelveticaNeueCyrMedium;
			}
		}
	}
	.b-line_multiline_neg .b-line-title {
		line-height: 1em;

		SPAN:nth-child(2) {
			padding-top: 5px;
			color: #0f71c3;
			font-size: 14px;

			A {
				color: #0f71c3;
				text-decoration: none;
				font-family: $font-HelveticaNeueCyrMedium;
			}
		}
		SPAN:nth-child(1) {
			padding-top: 9px;
			color: #000;
			font-size: 11px;

			A {
				color: #000;
				text-decoration: none;
				font-family: $font-HelveticaNeueCyrMedium;
			}
		}
	}
	.b-line-arrow {
		@include wihe(44px);
		@include pos-tr;
		@include bgimg("icons-arrow-down_g.png");
		@include forDesktop;
	}
	.b_open .b-line-arrow {
		background-image: url(../images/icons-arrow-top_g.png);
	}
