@font-face {
  font-family: "HelveticaNeueCyr Medium";
  src: url('../fonts/helveticaneuecyr-medium-webfont.eot');
  src: url('../fonts/helveticaneuecyr-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helveticaneuecyr-medium-webfont.woff') format('woff'),
       url('../fonts/helveticaneuecyr-medium-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr Light";
  src: url('../fonts/helveticaneuecyr-light-webfont.eot');
  src: url('../fonts/helveticaneuecyr-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/helveticaneuecyr-light-webfont.woff') format('woff'),
       url('../fonts/helveticaneuecyr-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$font-HelveticaNeueCyrMedium: "HelveticaNeueCyr Medium";
$font-HelveticaNeueCyrLight: "HelveticaNeueCyr Light";
$font-HelveticaLight: "Helvetica", $font-HelveticaNeueCyrLight;

