$minWidth: 320px;

$bgcolor-header: #00549a;

$font-main: "Helvetica Neue";

$anim-duration: 0.2s;
$anim-type: ease-out;

$deltaMenu: 44px;

@mixin bgimg($url, $repeat: no-repeat, $pos: 50%) {
	background-image: url("../images/#{$url}");
	background-repeat: $repeat;
	background-position: $pos;
}

@mixin user-select($value: none) {
	-webkit-user-select: $value;
	-moz-user-select: $value;
	-ms-user-select: $value;
	/* No support for these yet, use at own risk */
	-o-user-select: $value;
	user-select: $value;
}

@mixin placeholder {
	height: 42px;
	line-height: 1em;
	display: block;
}

@mixin pos-tl($a: 0, $b: 0) {
	top: $a;
	left: $b;
	position: absolute;
}

@mixin pos-tr($a: 0, $b: 0) {
	top: $a;
	right: $b;
	position: absolute;
}

@mixin wihe($wi, $he: null) {
	width: $wi;

	@if $he == null {
		height: $wi;
	} @else {
		height: $he;
	}
}

@mixin resetInput {
	padding: 0 ;
	margin: 0;
	border: 0;
	box-shadow: none;
	background-color: transparent;
	@include border-radius(0);

	font-size: 1.4em;
	color: #FFF;
	&:focus {
		outline: none;
	}
}

@mixin forDesktop {
	cursor: pointer;
}
