@import "compass";
@import "fonts";
@import "settings";
@import "common";
// @import "animation";

@include global-reset;

* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;
	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;
	outline: none !important;
}

HTML {
	height: 100%;
}
BODY {
	width: 100%;
	height: 100%;
	min-width: $minWidth;
	min-height: 100%;
	position: relative;
	background: #FFF;
	font-size: 62.5%;
	font-family: $font-main;
}

A {
	outline: none !important;
}

IMG {
	display: block;
}

::-webkit-input-placeholder {
	@include placeholder;
}
:-moz-placeholder {
	@include placeholder;
}
.placeholder {
	@include placeholder;
}


#screen {
	height: 100%;
	min-height: 196px;
	overflow: hidden;
	position: relative;
}
	#screen_content {
		height: 100%;
		min-height: 196px;
		position: relative;
	}

	.header {
		width: 100%;
		height: 44px;
		position: relative;
		z-index: 500;
		background-color: $bgcolor-header;
	}
		.header-menu {
			width: 44px;
			height: 44px;
			z-index: 600;
			@include bgimg("icon-header-menu.gif");
			@include pos-tl;
			@include forDesktop;
		}
		.header-logo {
			height: 44px;
			margin: 0 44px;
			@include bgimg("logotype.png");
		}
		.inner .header-logo {
			background-image: url(../images/logotype-white.png);
		}
		.header-search {
			width: 44px;
			height: 44px;
			@include bgimg("icon-header-search.gif");
			@include pos-tr;
			@include forDesktop;
		}

	.content {
		overflow-y: auto;
	}

	.footer {
		width: 100%;
		// height: 88px;
		bottom: 0;
		position: absolute;
		.icon-cross {
			@include bgimg("icons-cross_b.png");
			background-color: #FFF;
		}
	}
	.footer_small {
		height: 44px;
	}

.musicControl {
	height: 44px;
	left: 0;
	right: 0;
	position: absolute;
	bottom: 44px;
	background-color: #e6eaf1;
	display: none;

	A {
		width: 34px;
		height: 44px;
		float: left;
		top: 0;
		position: absolute;
	}
}
	.track-prev {
		left: 44px;
		@include bgimg("icon-track-prev.gif");
	}
	.track-pause {
		left: 50%;
		margin-left: -17px;
		@include bgimg("icon-track-pause.gif");
	}
	.track-pause_next {
		background-image: url(../images/icons-player-play.png);
	}
	.track-next {
		right: 44px;
		@include bgimg("icon-track-next.gif");
	}

.musicInfo {
	width: 100%;
	height: 42px;
	position: absolute;
	bottom: 0;
	border-top: 2px solid #818da3;
	background-color: #8f9aac;
	display: none;

	.tracks-time {
		color: #FFF;
	}
	.tracks-name {
		position: absolute;
		z-index: 125;
		left: 0;
		padding-left: 54px;
		color: #FFF;
	}
		.tracks-name-title,
		.tracks-name-artist {
			color: #FFF;
			text-shadow: 1.5px 1.5px 0 rgba(#000, 0.2);
		}
}
	.musicInfo-way {
		height: 42px;
		@include pos-tl(-2px);
		border-top: 2px solid #146bb6;
		background-color: #0f71c3;
		z-index: 100;
	}
	.musicInfo-loaded {
		height: 42px;
		@include pos-tl(-2px);
		border-top: 2px solid #717e94;
		background-color: #7c889b;
		z-index: 99;
	}
	.musicInfo-description {
		display: none;
		position: absolute;
		padding-left: 44px;
		top: -2px;
		left: 0;
		right: 66px;
		z-index: 9000;

		A {
			width: 20%;
			height: 44px;
			float: left;
		}
	}

.musicInfo_opened {
	border-top: 2px solid #1964a9;
	background-color: #0f71c3;

	.musicInfo-way,
	.musicInfo-loaded,
	.tracks-name {
		display: none;
	}
	.musicInfo-description {
		display: block;
	}
	.tracks-time {
		color: #FFF;
	}
	.tracks-button_showDescription {
		&:after {
			background-position: 0 100%;
		}
	}
}

.tracks {
	width: 100%;
}
	.tracks-item {
		clear: both;
		// margin-bottom: 1px;
		height: 43px;
		position: relative;
		border-bottom: 1px solid #e6eaf1;
		// overflow: hidden;
	}
		.tracks-name {
			height: 43px;
			top: 0;
			left: 54px;
			right: 66px;
			position: absolute;
			overflow: hidden;
			A {
				height: 44px;
				display: block;
				text-decoration: none;
			}
		}
		.artist-tracks .tracks-name {
			left: 0;
			color: #0f71c3;
		}
			.tracks-name-title {
				padding-top: 8px;
				display: block;
				font-size: 1.1em;
				color: #000;
				font-family: $font-HelveticaNeueCyrLight;
			}
			.artist-tracks .tracks-name-title {
				font-family: $font-HelveticaNeueCyrMedium;
			}
			.artist-tracks .tracks-name-title {
				height: 44px;
				line-height: 44px;
				padding-top: 0;
				padding-left: 15px;
				font-size: 1.4em;
				color: #0f71c3;
			}
			.tracks-name-artist {
				padding-top: 4px;
				display: block;
				font-size: 1.4em;
				color: #0f71c3;
				font-family: $font-HelveticaNeueCyrMedium;
			}
		.tracks-time {
			width: 32px;
			margin-top: -5px;
			@include pos-tl(50%, 100%);
			margin-left: -66px;
			font-size: 1.1em;
			line-height: 1.1em;
			text-align: right;
			color: #646464;
			font-family: $font-HelveticaLight;
		}
		.tracks-button_showDescription {
			width: 34px;
			height: 43px;
			@include pos-tr;
			@include forDesktop;
			&:after {
				width: 6px;
				height: 10px;
				margin: -5px 0 0 -3px;
				display: block;
				content: '';
				@include pos-tr(50%, 50%);
				@include bgimg("icon-arrows.png", no-repeat, 0 0);
			}
		}
		.tracks-pic {
			width: 44px;
			height: 44px;
			@include pos-tl;
			overflow: hidden;
			@include bgimg("tracks-blank.png", no-repeat, 0 0);
		}
			.tracks-pic IMG {
				width: 44px;
				height: 44px;
				display: block;
			}
		.tracks-description {
			display: none;
			@include pos-tl(-2px, 44px);
			right: 66px;
			A {
				width: 25%;
				height: 44px;
				float: left;
			}
		}
			.tracks-user {
				@include bgimg("icons-tracks-user.png");
			}
			.tracks-reload {
				@include bgimg("icon-track-reload_2.png", no-repeat, 50% 0);
			}
			.tracks-reload_next {
				background-position: 50% 100%;
			}
			.tracks-download {
				@include bgimg("icon-track-download.gif")
			}
			.tracks-save {
				@include bgimg("icon-track-save.gif")
			}
			.tracks-info {
				@include bgimg("icon-track-info.gif")
			}
	.tracks-item_opened {
		height: 42px;
		background: #0f71c3;
		border-top: 2px solid #1964a9;
		border-bottom: none;
		.tracks-pic {
			top: -2px;
		}
		.tracks-name {
			display: none;
		}
		.tracks-time {
			margin-top: -5px;
			color: #ffffff;
		}
		.tracks-button_showDescription {
			top: -2px;
		}
		.tracks-button_showDescription:after {
			// margin-top: -7px;
			background-position: 0 100%;
		}
		.tracks-description {
			display: block;
		}
	}

.tabs {
	width: 100%;
	height: 44px;
	position: relative;
	overflow-x: hidden;
	background: #e6eaf1;
	line-height: 44px;
}
	.tabs-artist .tabs-links A {
		font-family: $font-HelveticaNeueCyrMedium;
	}
	.tabs-block {
		display: none;
	}
	.tabs-block_active {
		display: block;
	}
	.tabs-links {
		width: 1000px;
		height: 44px;
		color: #084F8A;
		position: absolute;
		@include user-select;
		A {
			height: 44px;
			display: block;
			color: #084F8A;
			text-decoration: none;
			font-family: $font-HelveticaNeueCyrLight;
		}
	}
		.tabs-links-item {
			padding: 0 16px;
			float: left;
			font-size: 1.2em;
			@include forDesktop;
		}
		.tabs-links-item_active {
			height: 42px;
			background: #d0d6df;
			border-bottom: 2px solid #0e61a0;
			color: #647289;
		}
			.tabs-links-item_active A {
				color: #647289;
				font-family: $font-HelveticaNeueCyrMedium;
			}

#menu {
	min-width: 272px;
	height: 100%;
	margin-right: 44px;
	top: -100%;
	left: -100%;
	position: relative;
	background: #7c889b;
	z-index: 501;

	.content {
		@include bgimg("menu-logo.png", no-repeat,50% 95%);
	}
	.footer {
		background-color: #8f9aac;
	}
}
	.footer-copyright {
		height: 44px;
		@include pos-tl(0, 15px);
		line-height: 44px;
		color: rgba(#fff, .5);
		font-size: 1.1em;
		font-family: $font-HelveticaNeueCyrLight;
	}
	.footer-showFullVersion {
		height: 44px;
		padding-left: 14px;
		padding-right: 25px;
		@include pos-tr;
		line-height: 44px;
		font-size: 1.1em;
		color: #FFF;
		text-decoration: none;
		font-family: $font-HelveticaNeueCyrMedium;

		I {
			width: 11px;
			height: 44px;
			@include pos-tr(0, 14px);
			@include bgimg("icons-arrow-right.png", no-repeat, 100%);
		}
	}
	.menu-username {
		left: 15px;
		position: absolute;
		line-height: 44px;
		font-size: 1.4em;
		color: #FFF;
		text-shadow: 1.5px 1.5px 0 #003764;
		font-family: $font-HelveticaNeueCyrMedium;
	}
	.menu-item {
		height: 43px;
		border-bottom: 1px solid #8d98aa;
		font-size: 1.4em;
		background-color: rgba(#7c889b, .6);

		A {
			height: 43px;
			padding: 0 15px;
			display: block;
			line-height: 44px;
			color: #2D343F;
			text-decoration: none;
			font-family: $font-HelveticaNeueCyrMedium;
		}
	}

.menu-loginpanel {
	width: 100%;
	top: 44px;
	left: 0;
	bottom: 0;
	position: absolute;
	display: none;
}
	.loginpanel-header {
		height: 34px;
		padding: 10px 15px 0 15px;
		right: 44px;
		@include pos-tl(-44px);
		background: #00549a;
		z-index: 2000;
		color: #3d99e6;
		font-size: 1.1em;
		line-height: 12px;
		font-family: $font-HelveticaNeueCyrLight;
	}
	.loginpanel-content {
		width: 100%;
		top: 0;
		left: 0;
		bottom: 0;
		overflow-y: auto;
		position: absolute;
		z-index: 1000;
		background: #7c889b;
		// display: none;
	}
	.loginpanel-tabs {
		height: 44px;
		background: #e6eaf1;
	}
	.loginpanel-tabs-item {
		width: 50%;
		height: 44px;
		padding: 0;
		float: left;
		font-size: 1.2em;
		color: #084f8a;
		line-height: 44px;
		text-align: center;
		font-family: $font-HelveticaNeueCyrMedium;
		@include forDesktop;
	}
	.loginpanel-1 {
		padding-top: 15px;
		background-color: #fff;
	}
	.loginpanel-tabs-item_active {
		height: 42px;
		background: #d0d6df;
		border-bottom: 2px solid #0e61a0;
		color: #647289;
	}
	.loginpanel-input {
		@include resetInput;
		width: 100%;
		// width: calc(100% - 30px);
		height: 37px;
		padding: 0 15px;
		margin: 15px 0 0;
		display: block;

		border: 1px solid #d0d6df;
		@include box-sizing(border-box);

		color: #3e444e;
		font-size: 1.4em;
		font-family: $font-HelveticaNeueCyrLight;

		&:focus {
			border-color: #5fa0d7;
		}
	}
	.lp-tabs-cont .posrel {
		margin: 0 15px;
	}
	.nomatop {
		margin-top: 0 !important;
	}
	.loginpanel-remind {
		display: block;
		color: #0f71c3;
		font-size: 11px;
		padding: 0 15px;
		height: 35px;
		background: #fff;
		@include pos-tr(1px, 1px);
		line-height: 35px;
		text-decoration: none;
		font-family: $font-HelveticaNeueCyrMedium;
	}
	.loginpanel-remember {
		margin: 15px;
		height: 35px;
		line-height: 35px;

		SPAN {
			color: #647289;
			font-size: 1.1em;
			font-family: $font-HelveticaNeueCyrMedium;
		}
	}
	.loginpanel-button {
		@include resetInput;
		margin-top: 15px;
		display: block;
		width: 100%;
		height: 44px;
		background: #0f71c3;
		text-shadow: 1.5px 1.5px 0 #145ea2;
		font-family: $font-HelveticaNeueCyrMedium;
		@include forDesktop;
	}
	.loginpanel-soc {
		padding: 0 7.5px;
		text-align: center;
		color: #d0d6df;
		font-size: 0;
		background-color: #7C889B;

		SPAN {
			display: block;
			height: 44px;
			line-height: 44px;
			font-size: 11px;
			font-family: $font-HelveticaNeueCyrMedium;
		}

		A {
			@include wihe(44px);
			display: inline-block;
			margin: 0 7.5px 15px;

			@include bgimg("icons-share-apps.png");
			&[data-type=mail] {background-position: 0 0;}
			&[data-type=gplus] {background-position: 0 -44px;}
			&[data-type=twitter] {background-position: 0 -220px;}
			&[data-type=classmates] {background-position: 0 -176px;}
			&[data-type=fb] {background-position: 0 -88px;}
			&[data-type=vk] {background-position: 0 -132px;}
		}
	}
	.loginpanel-2 {
		// min-height: 100%;
		position: absolute;
		top: 44px;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: 15px;
		background: #FFF;

		.error {
			.loginpanel-input {
				border-color: #fe6e82;
			}
			.loginpanel-remind {
				color: #fe6e82;
			}
		}

		FORM {
			// min-height: calc(100% - 78px);
			padding-bottom: 64px;
			position: relative;
			background: #FFF;
		}

		.loginpanel-button {
			position: absolute;
			bottom: 0;
			left: 0;
		}
	}

.posrel {
	position: relative;
}

.input-checkbox {
	margin-left: 10px;
	@include wihe(44px, 22px);
	display: inline-block;
	vertical-align: middle;
	@include bgimg("checkbox.png", no-repeat, 0 0);
}
	.input-checkbox_checked {
		background-position: 0 100%;
	}

.menu-addtrack {
	width: 100%;
	top: 44px;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	position: absolute;
	z-index: 1000;
	background: #7c889b;
	display: none;

	OL {
		counter-reset: item;

		padding-top: 15px;
		margin: 0 44px 22px 63px;
		font-size: 1.1em;
		line-height: 13px;
		color: #FFF;
	}

	LI {
		margin-top: 15px;
		display: block;
		position: relative;
		font-family: $font-HelveticaNeueCyrLight;

		B {
			font-family: $font-HelveticaNeueCyrMedium;
		}
	}

	LI:before {
		width: 20px;
		height: 20px;
		top: -6px;
		left: -34px;
		position: absolute;
		display: block;

		content: counters(item, ".");
		counter-increment: item;

		border: 1px solid #8b97ab;
		border-radius: 20px;
		text-align: center;
		line-height: 22px;

		font-family: $font-HelveticaNeueCyrMedium;
	}
}
	.menu-addtrack-header {
		padding: 0 15px;
		color: #FFF;
		font-size: 1.4em;
		line-height: 44px;
		font-family: $font-HelveticaNeueCyrLight;
	}
	.menu-addtrack-way {
		height: 44px;
		margin: 0 15px;
		background: #d0d6df;
		position: relative;
		text-align: center;
		color: #084f8a;
		line-height: 44px;
		font-size: 1.4em;
		@include forDesktop;

		SPAN {
			position: relative;
			z-index: 700;
			font-family: $font-HelveticaNeueCyrMedium;
		}

		B {
			display: none;
			height: 44px;
			position: absolute;
			top: 0;
			left: 0;
			background: #00d359;
		}
	}
	.menu-addtrack-way_loading {
		color: #3e444e;
		cursor: default;

		B {
			display: block;
		}
	}
	.menu-addtrack-way_loaded {
		color: #3E444E;

		B {
			display: block;
			width: 100% !important;
		}
		B:after {
			width: 6px;
			height: 10px;
			display: block;
			content: "";
			position: absolute;
			right: 13px;
			top: 50%;
			margin-top: -3px;
			@include bgimg("icons-arrow-right.png");
		}
	}

.search-input {
	height: 44px;
	display: none;
	right: 44px;
	@include pos-tl(0, 44px);
	background-color: #0f71c3;

	INPUT {
		@include resetInput;
		height: 44px;
		padding: 0 10px;
		right: 0;
		display: block;
		@include pos-tl;
		border: 0;
		box-shadow: none;
		background-color: transparent;
		font-family: $font-HelveticaNeueCyrLight;
		font-size: 1.4em;
		color: #FFF;
		&:focus {
			outline: none;
		}
	}
}
	.search-list {
		padding-bottom: 44px;
		right: -44px;
		@include pos-tl(44px, -44px);
		background: #ffffff;
		line-height: 44px;

		UL {
			overflow-y: auto;
		}
	}
		.search-item {
			height: 43px;
			border-bottom: 1px solid #e6eaf1;
			font-size: 1.4em;
			line-height: 44px;

			I {
				// font-weight: bold;
				color: #0f71c3;
				font-family: $font-HelveticaNeueCyrMedium;
			}

			A {
				height: 44px;
				padding: 0 12.5px;
				display: block;
				color: #646464;
				text-decoration: none;
				font-family: $font-HelveticaNeueCyrLight;
			}
		}
		.search-close {
			width: 100%;
			height: 44px;
			background: #e6eaf1;
			font-size: 1.7em;
			// font-weight: bold;
			text-align: center;
			color: #084f8a;
			position: absolute;
			left: 0;
			bottom: 0;
			@include forDesktop;
			font-family: $font-HelveticaNeueCyrMedium;
		}

.artistLine {
	height: 44px;
	position: relative;
	background-color: #8f9aac;
}
	.artistLine-pic {
		width: 44px;
		height: 44px;
		@include pos-tl;
	}
	.artistLine-name {
		@include pos-tl(0, 59px);
		color: #ffffff;
		line-height: 44px;
		font-size: 2em;
		font-family: $font-HelveticaNeueCyrMedium;
		text-shadow: 1.5px 1.5px 0 #6b788e;
	}
	.artistLine-score {
		height: 44px;
		@include pos-tr(0, 15px);
		color: #d0d6df;
		line-height: 44px;;
		font-size: 1.1em;
		font-family: $font-HelveticaNeueCyrLight;
	}

.songLine {
	height: 44px;
	padding: 0 15px;
	position: relative;
	background-color: #8f9aac;
	text-shadow: 1.5px 1.5px 0 #6b788e;
	color: #FFF;
}
	.songLine-title {
		padding-top: 8px;
		display: block;
		font-size: 1.1em;
		font-family: $font-HelveticaNeueCyrLight;
	}
	.songLine-artist {
		padding-top: 4px;
		display: block;
		font-size: 1.4em;
		font-family: $font-HelveticaNeueCyrMedium;
	}

.song-control {
	height: 44px;
	position: relative;
	background: #e6eaf1;

	A {
		width: 50px;
		height: 44px;
		display: block;
		top: 0;
		position: absolute;
	}
}
	.song-control-play {
		left: 44px;
		@include bgimg("icons-play-gray.png");
	}
	.song-control-download {
		left: 50%;
		margin-left: -25px;
		@include bgimg("icons-download-gray.png");
	}
	.song-control-save {
		right: 44px;
		@include bgimg("icons-save-gray.png");
	}
.song-info {
	height: 43px;
	margin-left: 15px;
	margin-right: 15px;
	border-bottom: 1px solid #e6eaf1;
	position: relative;
	font-size: 1.1em;
	font-family: $font-HelveticaNeueCyrLight;
	color: #646464;

	DIV {
		height: 44px;
		float: left;
		line-height: 44px;
	}
}
	.song-info-duration {
		padding-left: 20px;
		@include bgimg("icons-song-duration.png", no-repeat, 0);
	}
	.song-info-size {
		padding-left: 20px;
		margin-left: 15px;
		margin-right: 11px;
		@include bgimg("icons-song-size.png", no-repeat, 0);
	}
	.song-info-quality {
		padding-left: 23px;
		@include bgimg("icons-song-quality.png", no-repeat, 0);
	}
	.song-info-downloadCount {
		padding-left: 20px;
		float: right !important;
		@include bgimg("icons-song-downloadCount.png", no-repeat, 0);
	}

.song-sharing {
	height: 44px;
	padding: 0 15px;
	font-size: 1.0em;
	line-height: 44px;
	color: #505050;
	position: relative;

	B {color: #0f71c3;font-family: $font-HelveticaNeueCyrMedium;}

	P {font-family: $font-HelveticaNeueCyrLight;}

	.second {
		display: none;
	}
}
.song-sharing_open {
	height: auto;
	margin-bottom: -207px;
	z-index: 500;
	.first {display: none;}
	.second {display: block;}

	font-size: 1.4em;
	font-family: $font-HelveticaNeueCyrLight;
	color: #FFF;
	background: #7c889b;

	.song-sharing-button {
		background-image: url(../images/icons-song-share_opened.png);
	}
}
	.song-sharing-list {
		A {
			height: 44px;
			padding-left: 54px;
			display: block;
			color: #647289;
			font-size: 17px;
			text-decoration: none;
			@include bgimg("icons-arrow-right_g.png", no-repeat, 95%);
		}
		LI {
			width: 50%;
			height: 44px;
			// padding-left: 54px;
			@include box-sizing(border-box);
			float: left;
			margin-bottom: 25px;
			background: #e6eaf1;
			@include bgimg("icons-share-apps.png", no-repeat, 0 0)
		}
		LI:nth-child(2n+1) {
			border-right: 12px solid #7c889b;
		}
		LI:nth-child(2n+2) {
			border-left: 13px solid #7c889b;
		}
		[data-app=gplus] {background-position: 0 -44px;}
		[data-app=fb] {background-position: 0 -88px;}
		[data-app=vk] {background-position: 0 -132px;}
		[data-app=classmates] {background-position: 0 -176px;}
		[data-app=twi] {background-position: 0 -220px;}
	}
	.song-sharing-button {
		width: 44px;
		height: 44px;
		@include pos-tr();
		@include bgimg("icons-song-share.png");
		@include forDesktop;
	}

.song-another {
	// height: 44px;
	margin-bottom: 1px;

	.b-line {
		background: #e6eaf1;
	}
	.b-line-title A {
		padding-right: 8px;
		display: inline-block;
		color: #0f71c3;
		text-decoration: none;
		font-family: $font-HelveticaNeueCyrMedium;
		@include bgimg("icons-arrow-right_b.png", no-repeat, 100%)
	}
	.tracks-item {
		.tracks-name {
			left: 0;
			padding-left: 15px;
		}
		.tracks-name-title {
			padding-top: 0;
			line-height: 44px;
			font-size: 1.4em;
			font-family: $font-HelveticaNeueCyrMedium;
			color: #0f71c3;
		}
	}
}

.song-comments {
	UL {
		padding: 12px 15px 12px;
		background: #f7f9fb;
	}
	LI {
		margin-bottom: 12px;
		position: relative;
	}
}
	.song-comments-author {
		font-size: 1.1em;
		font-family: $font-HelveticaNeueCyrMedium;
		color: #0f71c3;
	}
	.song-comments-date {
		@include pos-tr;
		font-size: 1.1em;
		font-family: $font-HelveticaNeueCyrLight;
		color: #646464;
	}
	.song-comments-text,
	.song-comments-newtext {
		margin-top: 15px;
		padding: 9px;
		position: relative;
		border: 1px solid #dfe4ed;
		background: #FFF;
		font-size: 1.1em;
		font-family: $font-HelveticaNeueCyrLight;
		line-height: 16px;
		&:after {
			width: 10px;
			height: 11px;
			display: block;
			content: "";
			@include pos-tl(-11px, 10px);
			@include bgimg("song-comments-corn.png");
		}
	}
	.song-comments-newtext {
		display: block;
		width: 100%;
		@include box-sizing(border-box);

		TEXTAREA {
			@include resetInput;
			width: 100%;
			color: #000;
			font-size: 11px;
			line-height: 16px;
			font-family: inherit;
		}
	}
	.song-comments-add {
		margin-top: 15px;
		padding: 9px;
		display: block;
		border: 1px solid #0f71c3;
		background: #0f71c3;
		color: #FFF;
		text-decoration: none;
		position: relative;
		font-size: 1.1em;
		line-height: 16px;
		&:after {
			width: 0;
			height: 0;
			content: "";
			@include pos-tl(-11px, 11px);
			border: 1px solid #0f71c3;
			border-width: 5px;
			border-top-color: transparent;
			border-right-color: transparent;
		}
	}
	.song-comments-button {
		background: #0f71c3;
		text-shadow: 1.5px 1.5px 0 #145ea2;
		font-size: 1.7em;
		font-family: $font-HelveticaNeueCyrMedium;
		line-height: 44px;
		text-align: center;
		color: #FFF;
		text-decoration: none;

		I {
			width: 44px;
			height: 44px;
			display: block;
			@include pos-tr;
			@include bgimg("icons-cross.png");
		}
	}

.playlists {}
	.playlists-addnew {
		width: 44px;
		height: 44px;
		@include pos-tr;
	}
	.playlists-list {}
		.playlists-item {
			height: 44px;
			margin-bottom: 1px;
			position: relative;
			border-bottom: 1px solid #e6eaf1;
		}
		.playlists-title {
			height: 44px;
			padding: 0 0 0 15px;
			line-height: 44px;
			font-size: 1.4em;
			font-family: $font-HelveticaNeueCyrMedium;
			color: #0f71c3;
		}
		.playlists-count {
			height: 44px;
			position: absolute;
			right: 34px;
			top: 0;
			line-height: 44px;
			font-size: 1.1em;
			font-family: $font-HelveticaNeueCyrLight;
			color: #646464;
		}
	.playlists-item_opened {
		// top: -1px;
		height: 43px;
		@include bgimg("");
		background-color: #0f71c3;
		border-top: 1px solid #1964a9;

		.playlists-title {
			display: none;
		}

		.playlists-count {
			color: #FFF;
		}

		.playlists-button_showDescription:after {
			background-position: 0 100%;
		}
	}
		.playlists-controls {
			width: 100%;
			height: 44px;
			top: 0;
			left: 0;
			position: absolute;

			INPUT {
				display: none;
				outline: none;
				@include resetInput;
				height: 44px;
				padding: 0 15px;
				position: absolute;
				top: 0;
				left: 0;
				right: 44px;
				font-family: $font-HelveticaNeueCyrMedium;
			}

			.icon-done {
				display: none;
				@include pos-tr;
				@include bgimg("icons-done.png");
			}

			// remove playlist icon
			.icon-cross {
				@include pos-tr(0, 162px);
			}
			.icon-rename {
				@include pos-tr(0, 118px);
			}

			.icon-done,
			.icon-cross,
			.icon-rename {
				display: none;
			}
		}
		.playlists-item_opened {
			.icon-cross,
			.icon-rename {
				display: block;
			}
		}
		.playlists-controls_rename {
			INPUT,
			.icon-done {
				display: block;
			}
			.icon-cross,
			.icon-rename,
			.playlists-count,
			.playlists-title,
			.playlists-button_showDescription {
				display: none;
			}
		}

.radio {
	.b-line {
		height: 43px;
		border-bottom: 1px solid #e6eaf1;
		background: #FFF;
	}
	.b-line-title SPAN {
		color: #0f71c3;
		font-family: $font-HelveticaNeueCyrMedium;
	}
}
	.radio-city {
		height: 44px;
		@include pos-tr(0, 15px);
		color: #646464;
		font-size: 1.1em;
		font-family: $font-HelveticaNeueCyrLight;
		line-height: 44px;
	}
	.radio-down {
		@include wihe(44px);
		@include pos-tr;
		@include bgimg("icons-arrow-down_g.png");
		@include forDesktop;
		background-color: #e6eaf1;
		@include forDesktop;
	}
	.radio-down-other {
		background-image: url(../images/icons-arrow-top_g.png);
	}
	.tabs_radio {
		width: auto;
		padding-right: 44px;
	}
	.tracks-item_active {
		.b-line {
			border-top: 1px solid #146bb6;
			background-color: #0f71c3;
		}
		.b-line-pic {
			top: -1px;
		}
		.b-line-title SPAN {
			text-shadow: 1.5px 1.5px 0 #145ea2;
			color: #fff;
		}
		.radio-city {
			color: rgba(#fff, 0.6);
		}
	}


.m-playlists {
	width: 100%;
	display: none;
	@include pos-tl(44px);
	background: #FFF;
	z-index: 10;
	overflow-y: auto;

	.playlists-item {
		position: relative;
	}

	.checked {
		background: #0f71c3;

		.playlists-title {
			color: #fff;
			text-shadow: 1.5px 1.5px 0 #145ea2;
		}
		.playlists-button_showDescription,
		.playlists-count {
			display: none;
		}
		.playlists-controls,
		.icon-done {
			display: block;
		}
	}

	.playlists-title {
		padding: 0;
		@include pos-tl(0, 44px);
	}

	.playlists-input {
		@include wihe(44px);
		display: block;
		position: relative;
		z-index: 101;
	}
	.playlists-controls {
		z-index: 100;
	}
	.playlists-button_showDescription {
		z-index: 105;
	}
	.input-checkbox {
		width: 44px;
		height: 44px !important;
		margin: 0;
		@include bgimg("checkbox-circle.png", no-repeat, 0 0);
	}
	.input-checkbox_checked {
		background-position: 0 100%;
	}
}

.bg {
	width: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(#303e56, 0.8);
	position: absolute;
	z-index: 500;
	opacity: 0;
	@include transition(all $anim-duration $anim-type);
}
.clearboth {
	height: 0 !important;
	margin: 0 !important;
	clear: both;
	float: none !important;
}

.screen-small.show-menu {
	.bg {
		width: 100%;
		opacity: 1;
	}
	#menu {
		left: 0;
		bottom: 0;
	}
	#screen_content {
		left: 100%;
		margin-left: -44px;
	}
}
	.screen-small .show-menu-addtrack {
		.menu-addtrack {
			display: block;
		}

		.icon-addtrack {
			@extend .icon-cross;
			background-color: #7c889b;
		}
	}
	.show-menu-login {
		.menu-loginpanel {
			display: block;
		}
		.icon-loginpanel {
			@extend .icon-cross;
			background-color: #7c889b;
		}
	}

.show-search {
	.search-input {
		display: block;
	}
	.header-search {
		background-color: #0f71c3;
		background-image: url(../images/icons-cross.png);
	}
}

.show-m-playlists {
	.m-playlists {display: block;}
	#screen .content {display: none;}
	.playlists-controls-rename {
		padding-left: 44px;
	}
}
.show-m-playlists_song {
	.m-playlists {
		// top: 132px;
		top: 132px;
		// padding-bottom: 10000px;
		display: block;
		z-index: 401;
		overflow-y: auto;
		.b-line {
			display: none;
		}
	}
	.content {
		position: relative;
		z-index: 400;
	}
	.footer {
		z-index: 402;
	}
	.song-addition {
		display: none;
	}
	.playlists-controls-rename {
		padding-left: 44px;
	}
	// #screen .content {display: none;}
}

// $menu-ease-dur: 0.5s;
#menu.menu_ease {
	// left: -100%;
	// right: 44px;
	width: 272px;
	left: -272px;
	// left: - 272px + $deltaMenu;
	bottom: 0;
	z-index: 9000;
	// @include transition(none);
	// @include animation(0, $menu-ease-dur, MenuEase-1);
	// @include animation($menu-ease-dur, $menu-ease-dur, MenuEase-2);
	// @include animation(2 * $menu-ease-dur, $menu-ease-dur, MenuEase-1);
	// @include animation(3 * $menu-ease-dur, $menu-ease-dur, MenuEase-2);
}

@mixin forBigPhones {
	#menu {
		width: 272px;
		left: 0 !important;
		bottom: 0;
	}
	#screen_content {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		// width: calc(100% - 272px);
		left: 272px;
		z-index: 7000;
	}
	.header-menu {
		display: none;
	}

	.show-menu {}

	.screen-full.show-menu-login #menu {
		z-index: 7001;
	}

		.musicControl {
			width: 272px;
			left: -272px;
			right: 100%;
			bottom: 0;
		}
		.musicInfo {
			width: auto;
			left: 0;
			right: 0;
		}
		.mi-wayWrapper {
			position: relative;
			width: 50%;
		}
		.musicInfo-description {
			left: 50%;
			right: 0;
			padding-left: 0;
			display: block;

			border-top: 2px solid #1964a9;
			background-color: #0f71c3;
		}
		.tracks-reload,
		.tracks-download,
		.tracks-save,
		.tracks-info {
			position: relative;
			top: -2px;
		}
	.footer .tracks-time {
		left: 50%;
		z-index: 6000;
	}
}

.screen-full {
	@include forBigPhones;
}

.tracks-loadOther {
	width: 100%;
	height: 44px;
	background: #d0d6df;
	font-size: 1.7em;
	text-align: center;
	color: #084f8a;
	cursor: pointer;
	line-height: 44px;
	font-family: "HelveticaNeueCyr Medium";
}

// @media screen and (min-width: 768px) {
// 	@include forBigPhones;
// }
// @media screen and (min-device-width: 768px) {
// 	@include forBigPhones;
// }

// Icons

.icon {
	width: 44px;
	height: 44px;
	position: absolute;
	@include forDesktop;
}
.icon-addtrack {
	right: 44px;
	@include bgimg("icons-plus.png");
}
.icon-loginpanel {
	right: 0;
	@include bgimg("icons-loginpanel.png");
}
.icon-cross {
	@include bgimg("icons-cross.png");
}
.icon-add {
	@include bgimg("icons-plus.png");
}
.icon-add_g {
	@include bgimg("icons-add_g.png");
}
.icon-rename {
	@include bgimg("icons-rename.png");
}

// Animation

#screen_content {
	@include transition(all $anim-duration $anim-type);
}
#menu {
	@include transition(all $anim-duration $anim-type);
}

#screen .header .header-menu {
	z-index: 501;
}
