<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    <meta name="format-detection" content="telephone=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="MobileOptimized" content="176" />
    <meta name="HandheldFriendly" content="True" />

    <title>m.zvukoff.ru</title>

    <%= stylesheet_link_tag "all" %>
  </head>

  <body <%= current_page.data.inner %>>
    <section id="screen">
      <div id="screen_content">
        <div class="header-menu"></div>
        <div class="header">
          <div class="header-logo"></div>
          <div class="header-search"></div>
          <div class="search-input">
            <input type="text">
            <div class="search-list">
              <ul>
                <li class="search-item"><a href=""><i>daft punk</i> give life back to music</a></li>
                <li class="search-item"><a href=""><i>daft punk</i> technologic</a></li>
                <li class="search-item"><a href=""><i>daft punk</i> the game of live</a></li>
                <li class="search-item"><a href=""><i>daft punk</i> giorgio by moroder</a></li>
                <li class="search-item"><a href=""><i>daft punk</i> make love</a></li>
              </ul>
              <div class="search-close">Закрыть</div>
            </div>
          </div>
        </div>

        <div class="content">
<%= yield %>
        </div>

        <div class="m-playlists">
          <div class="b-line b-line_multiline_neg">
            <div class="b-line-title">
              <span>P!nk Featuring Nate Ruess</span>
              <span><a href="">Just Give Me A Reason</a></span>
            </div>
          </div>
          <ul class="playlists-list">
            <li class="playlists-item">
              <label class="playlists-input">
                <input type="checkbox">
              </label>
              <div class="playlists-title">
                Новое
              </div>
              <div class="playlists-count">Песен: 86</div>
              <div class="playlists-controls">
                <input type="text" class="playlists-controls-rename" value="Новое">
                <div class="icon icon-cross"></div>
                <div class="icon icon-rename"></div>
                <div class="icon icon-done playlists-handler-done"></div>
              </div>
              <div class="tracks-button_showDescription playlists-button_showDescription"></div>
            </li>
            <!--  playlists-item_opened playlists-controls_rename -->
            <li class="playlists-item">
              <label class="playlists-input">
                <input type="checkbox">
              </label>
              <div class="playlists-title">
                Крутые песни
              </div>
              <div class="playlists-count">Песен: 86</div>
              <div class="playlists-controls">
                <input type="text" class="playlists-controls-rename" value="Крутые песни">
                <div class="icon icon-cross"></div>
                <div class="icon icon-rename"></div>
                <div class="icon icon-done playlists-handler-done"></div>
              </div>
              <div class="tracks-button_showDescription playlists-button_showDescription"></div>
            </li>
            <li class="playlists-item">
              <label class="playlists-input">
                <input type="checkbox">
              </label>
              <div class="playlists-title">
                Пацаны советуют
              </div>
              <div class="playlists-count">Песен: 28</div>
              <div class="playlists-controls">
                <input type="text" class="playlists-controls-rename" value="Пацаны советуют">
                <div class="icon icon-cross"></div>
                <div class="icon icon-rename"></div>
                <div class="icon icon-done playlists-handler-done"></div>
              </div>
              <div class="tracks-button_showDescription playlists-button_showDescription"></div>
            </li>
            <li class="playlists-item">
              <label class="playlists-input">
                <input type="checkbox">
              </label>
              <div class="playlists-title">
                Клубняк
              </div>
              <div class="playlists-count">Песен: 13</div>
              <div class="playlists-controls">
                <input type="text" class="playlists-controls-rename" value="Клубняк">
                <div class="icon icon-cross"></div>
                <div class="icon icon-rename"></div>
                <div class="icon icon-done playlists-handler-done"></div>
              </div>
              <div class="tracks-button_showDescription playlists-button_showDescription"></div>
            </li>
            <li class="playlists-item">
              <label class="playlists-input">
                <input type="checkbox">
              </label>
              <div class="playlists-title">
                Золотые купола и тд
              </div>
              <div class="playlists-count">Песен: 17</div>
              <div class="playlists-controls">
                <input type="text" class="playlists-controls-rename" value="Золотые купола и тд">
                <div class="icon icon-cross"></div>
                <div class="icon icon-rename"></div>
                <div class="icon icon-done playlists-handler-done"></div>
              </div>
              <div class="tracks-button_showDescription playlists-button_showDescription"></div>
            </li>
          </ul>
        </div>

        <% if current_page.data.footer != "asd" %>
        <div class="footer">
          <div class="musicControl">
            <a href="" class="track-prev"></a>
            <a href="" class="track-pause"></a>
            <a href="" class="track-next"></a>
          </div>
          <div class="musicInfo">
            <div class="tracks-name">
              <span class="tracks-name-title">Robin Thicke Featuring T.I. + Pharrell</span>
              <span class="tracks-name-artist">Blurred Lines</span>
            </div>
            <div class="mi-wayWrapper">
              <div class="musicInfo-way" style="width: 20%"></div>
              <div class="musicInfo-loaded" style="width: 35%"></div>
            </div>
            <div class="musicInfo-description">
              <a href="" class="tracks-user"></a>
              <a href="" class="tracks-reload"></a>
              <a href="" class="tracks-download"></a>
              <a href="" class="tracks-save"></a>
              <a href="" class="tracks-info"></a>
            </div>
            <div class="tracks-time">3:39</div>
            <div class="tracks-button_showDescription"></div>
          </div>
        </div>
        <% end %>
      </div>
      <b class="bg"></b>
    </section>
    <section id="menu">
      <div id="menu_content">
        <div class="header">
          <div class="menu-username">UserName 34</div>
          <!-- <a href="" class="icon icon-addtrack"></a> -->
          <a href="" class="icon icon-loginpanel"></a>
        </div>
        <div class="content">
          <ul>
            <li class="menu-item"><a href="">Популярные</a></li>
            <li class="menu-item"><a href="">Новинки</a></li>
            <li class="menu-item"><a href="">Радио</a></li>
            <li class="menu-item"><a href="">Плейлисты</a></li>
            <li class="menu-item"><a href="">Мои песни</a></li>
            <li class="menu-item"><a href="">О сайте</a></li>
          </ul>
<!--
          <div class="menu-addtrack">
            <div class="menu-addtrack-header">Добавление MP3-файла</div>
            <div class="menu-addtrack-way"><span>Обзор</span><b></b></div>
            <div class="menu-addtrack-way menu-addtrack-way_loading"><span>Загрузка 43%</span><b style="width: 43%;"></b></div>
            <div class="menu-addtrack-way menu-addtrack-way_loaded"><span>Файл заружен</span><b></b></div>

            <ol>
              <li>Формат файла <b>*.mp3</b></li>
              <li>Максимальный размер <b>35 MB</b></li>
              <li>Минимальный битрейт <b>128 kbps</b></li>
              <li>Вся информация о исполнителе и названии песни берется из MP3-тегов, проверяйте их при добавлении</li>
            </ol>
          </div> -->

          <div class="menu-loginpanel">
            <div class="loginpanel-header">Войдите, чтобы создавать плейлисты и добавлять свои MP3</div>
            <div class="loginpanel-content">
              <div class="loginpanel-tabs tabs">
                <div class="tabs-links-item loginpanel-tabs-item loginpanel-tabs-item_active">Войти</div>
                <div class="tabs-links-item loginpanel-tabs-item">Регистрация</div>
              </div>
              <div class="lp-tabs-cont loginpanel-1">
                <form>
                  <div class="posrel">
                    <input type="text" class="loginpanel-input nomatop" placeholder="Логин">
                  </div>
                  <div class="posrel">
                    <input type="password" class="loginpanel-input" placeholder="Пароль">
                    <a href="" class="loginpanel-remind">Напомнить</a>
                  </div>
                  <label class="loginpanel-remember">
                    <span>Запомнить</span>
                    <input type="checkbox">
                  </label>
                  <button class="loginpanel-button">Войти</button>
                </form>
                <div class="loginpanel-soc">
                  <span>Вход через социальные сети</span>
                  <a href="" data-type="mail"></a>
                  <a href="" data-type="gplus"></a>
                  <a href="" data-type="twitter"></a>
                  <a href="" data-type="classmates"></a>
                  <a href="" data-type="fb"></a>
                  <a href="" data-type="vk"></a>
                </div>
              </div>
              <div class="lp-tabs-cont loginpanel-2">
                <form>
                  <div class="posrel error">
                    <input type="text" class="loginpanel-input nomatop" placeholder="Логин">
                    <span class="loginpanel-remind">Такой логин уже есть</span>
                  </div>
                  <div class="posrel">
                    <input type="password" class="loginpanel-input" placeholder="Пароль">
                  </div>
                  <div class="posrel">
                    <input type="password" class="loginpanel-input" placeholder="Пароль">
                  </div>
                  <label class="loginpanel-remember">
                    <span>Запомнить</span>
                    <input type="checkbox">
                  </label>
                  <button class="loginpanel-button">Отправить</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="footer footer_small">
          <div class="footer-copyright">© 2013 Zvkoff</div>
          <a href="" class="footer-showFullVersion">Полная версия<i></i></a>
        </div>
      </div>
    </section>

    <%= javascript_include_tag  "all" %>
  </body>
</html>
