---
title:
inner: " class='inner'"
footer: false
---

			<div class="artistLine">
				<div class="artistLine-pic">
					<%= image_tag "unused/002.jpg" %>
				</div>
				<div class="artistLine-name">Duft Punk</div>
				<div class="artistLine-score">15 песен</div>
			</div>
			<div class="tabs tabs-artist">
				<ul class="tabs-links">
					<li class="tabs-links-item tabs-links-item_active"><a href="#sortby-popular">По популярности</a></li>
					<li class="tabs-links-item"><a href="#sortby-alphabet">По алфавиту</a></li>
					<li class="tabs-links-item"><a href="#sortby-date">По дате</a></li>
				</ul>
			</div>
			<div class="tracks artist-tracks">
				<ul id="sortby-popular" class="tabs-block tabs-block_active">
					<li class="tracks-item">
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Give Life Back To Music</span>
							</a>
						</div>
						<div class="tracks-time">3:26</div>
						<div class="tracks-description">
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Technologic</span>
							</a>
						</div>
						<div class="tracks-time">3:39</div>
						<div class="tracks-description">
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">The Game Of Live</span>
							</a>
						</div>
						<div class="tracks-time">2:40</div>
						<div class="tracks-description">
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Giorgio By Moroder</span>
							</a>
						</div>
						<div class="tracks-time">3:16</div>
						<div class="tracks-description">
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Make Love</span>
							</a>
						</div>
						<div class="tracks-time">3:26</div>
						<div class="tracks-description">
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Beyond</span>
							</a>
						</div>
						<div class="tracks-time">3:19</div>
						<div class="tracks-description">
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">BeyondOne More Time (Radio Edit)</span>
							</a>
						</div>
						<div class="tracks-time">3:27</div>
						<div class="tracks-description">
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Da Funk</span>
							</a>
						</div>
						<div class="tracks-time">3:12</div>
						<div class="tracks-description">
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
				</ul>
				<ul id="sortby-alphabet" class="tabs-block">
					<li class="tracks-item">
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Give Life Back To Music</span>
							</a>
						</div>
						<div class="tracks-time">3:39</div>
						<div class="tracks-description">
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Give Life Back To Music</span>
							</a>
						</div>
						<div class="tracks-time">3:39</div>
						<div class="tracks-description">
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
				</ul>
				<ul id="sortby-date" class="tabs-block">
					<li class="tracks-item">
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Give Life Back To Music</span>
							</a>
						</div>
						<div class="tracks-time">3:39</div>
						<div class="tracks-description">
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Give Life Back To Music</span>
							</a>
						</div>
						<div class="tracks-time">3:39</div>
						<div class="tracks-description">
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Give Life Back To Music</span>
							</a>
						</div>
						<div class="tracks-time">3:39</div>
						<div class="tracks-description">
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
				</ul>
			</div>
