---
title:
footer: true
inner: " class='anonym'"
---

			<div class="tabs">
				<ul class="tabs-links">
					<li class="tabs-links-item tabs-links-item_active"><a href="#popular-day">Популярное за день</a></li>
					<li class="tabs-links-item"><a href="#popular-month">За месяц</a></li>
					<li class="tabs-links-item"><a href="#popular-week">За неделю</a></li>
				</ul>
			</div>
			<div class="tracks">
				<ul id="popular-day" class="tabs-block tabs-block_active">
					<li class="tracks-item">
						<div class="tracks-pic">
							<a href=""><%= image_tag "unused/001.jpg" %></a>
						</div>
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Robin Thicke Featuring T.I. + Pharrell</span>
								<span class="tracks-name-artist">Blurred Lines</span>
							</a>
						</div>
						<div class="tracks-time">3:39</div>
						<div class="tracks-description">
							<a href="" class="tracks-user"></a>
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-pic">
							<a href=""><%= image_tag "unused/003.jpg" %></a>
						</div>
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Macklemore & Ryan Lewis Featuring Ray</span>
								<span class="tracks-name-artist">Can't Hold Us</span>
							</a>
						</div>
						<div class="tracks-time">2:40</div>
						<div class="tracks-description">
							<a href="" class="tracks-user"></a>
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-pic">
							<a href=""><%= image_tag "unused/004.jpg" %></a>
						</div>
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Daft Punk Featuring Pharrell</span>
								<span class="tracks-name-artist">Get Lucky</span>
							</a>
						</div>
						<div class="tracks-time">3:16</div>
						<div class="tracks-description">
							<a href="" class="tracks-user"></a>
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-pic">
							<!-- <a href=""><%= image_tag "unused/005.jpg" %></a> -->
						</div>
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Justin Timberlake</span>
								<span class="tracks-name-artist">Mirrors</span>
							</a>
						</div>
						<div class="tracks-time">3:26</div>
						<div class="tracks-description">
							<a href="" class="tracks-user"></a>
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-pic">
							<a href=""><%= image_tag "unused/006.jpg" %></a>
						</div>
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Florida Georgia Line Featuring Nelly</span>
								<span class="tracks-name-artist">Cruise</span>
							</a>
						</div>
						<div class="tracks-time">3:19</div>
						<div class="tracks-description">
							<a href="" class="tracks-user"></a>
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-pic">
							<a href=""><%= image_tag "unused/007.jpg" %></a>
						</div>
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Imagine Dragons</span>
								<span class="tracks-name-artist">Radioactive</span>
							</a>
						</div>
						<div class="tracks-time">3:27</div>
						<div class="tracks-description">
							<a href="" class="tracks-user"></a>
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-pic">
							<a href=""><%= image_tag "unused/008.jpg" %></a>
						</div>
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">P!nk Featuring Nate Ruess</span>
								<span class="tracks-name-artist">Just Give Me A Reason</span>
							</a>
						</div>
						<div class="tracks-time">3:12</div>
						<div class="tracks-description">
							<a href="" class="tracks-user"></a>
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
				</ul>
				<ul id="popular-month" class="tabs-block">
					<li class="tracks-item">
						<div class="tracks-pic">
							<a href=""><%= image_tag "unused/003.jpg" %></a>
						</div>
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Macklemore & Ryan Lewis Featuring Ray</span>
								<span class="tracks-name-artist">Can't Hold Us</span>
							</a>
						</div>
						<div class="tracks-time">2:40</div>
						<div class="tracks-description">
							<a href="" class="tracks-user"></a>
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-pic">
							<a href=""><%= image_tag "unused/004.jpg" %></a>
						</div>
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Daft Punk Featuring Pharrell</span>
								<span class="tracks-name-artist">Get Lucky</span>
							</a>
						</div>
						<div class="tracks-time">3:16</div>
						<div class="tracks-description">
							<a href="" class="tracks-user"></a>
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-pic">
							<a href=""><%= image_tag "unused/005.jpg" %></a>
						</div>
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Justin Timberlake</span>
								<span class="tracks-name-artist">Mirrors</span>
							</a>
						</div>
						<div class="tracks-time">3:26</div>
						<div class="tracks-description">
							<a href="" class="tracks-user"></a>
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
				</ul>
				<ul id="popular-week" class="tabs-block">
					<li class="tracks-item">
						<div class="tracks-pic">
							<a href=""><%= image_tag "unused/006.jpg" %></a>
						</div>
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Florida Georgia Line Featuring Nelly</span>
								<span class="tracks-name-artist">Cruise</span>
							</a>
						</div>
						<div class="tracks-time">3:19</div>
						<div class="tracks-description">
							<a href="" class="tracks-user"></a>
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-pic">
							<a href=""><%= image_tag "unused/007.jpg" %></a>
						</div>
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">Imagine Dragons</span>
								<span class="tracks-name-artist">Radioactive</span>
							</a>
						</div>
						<div class="tracks-time">3:27</div>
						<div class="tracks-description">
							<a href="" class="tracks-user"></a>
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
					<li class="tracks-item">
						<div class="tracks-pic">
							<a href=""><%= image_tag "unused/008.jpg" %></a>
						</div>
						<div class="tracks-name">
							<a href="">
								<span class="tracks-name-title">P!nk Featuring Nate Ruess</span>
								<span class="tracks-name-artist">Just Give Me A Reason</span>
							</a>
						</div>
						<div class="tracks-time">3:12</div>
						<div class="tracks-description">
							<a href="" class="tracks-user"></a>
							<a href="" class="tracks-download"></a>
							<a href="" class="tracks-save"></a>
							<a href="" class="tracks-info"></a>
						</div>
						<div class="tracks-button_showDescription"></div>
					</li>
				</ul>
				<div class="tracks-loadOther">Еще</div>
			</div>
