---
title:
inner: " class='inner'"
footer: false
---

			<div class="b-line">
				<div class="b-line-title"><span>Плейлисты</span></div>
				<div class="playlists-addnew">
					<div class="icon icon-add_g handler-newplaylist"></div>
				</div>
			</div>
			<ul class="playlists-list">
				<li class="playlists-item">
					<div class="playlists-title">
						Новое
					</div>
					<div class="playlists-count">Песен: 86</div>
					<div class="playlists-controls">
						<input type="text" class="playlists-controls-rename" value="Новое">
						<div class="icon icon-cross"></div>
						<div class="icon icon-rename"></div>
						<div class="icon icon-done"></div>
					</div>
					<div class="tracks-button_showDescription playlists-button_showDescription"></div>
				</li>
				<!--  playlists-item_opened playlists-controls_rename -->
				<li class="playlists-item">
					<div class="playlists-title">
						Крутые песни
					</div>
					<div class="playlists-count">Песен: 86</div>
					<div class="playlists-controls">
						<input type="text" class="playlists-controls-rename" value="Крутые песни">
						<div class="icon icon-cross"></div>
						<div class="icon icon-rename"></div>
						<div class="icon icon-done"></div>
					</div>
					<div class="tracks-button_showDescription playlists-button_showDescription"></div>
				</li>
				<li class="playlists-item">
					<div class="playlists-title">
						Пацаны советуют
					</div>
					<div class="playlists-count">Песен: 28</div>
					<div class="playlists-controls">
						<input type="text" class="playlists-controls-rename" value="Пацаны советуют">
						<div class="icon icon-cross"></div>
						<div class="icon icon-rename"></div>
						<div class="icon icon-done"></div>
					</div>
					<div class="tracks-button_showDescription playlists-button_showDescription"></div>
				</li>
				<li class="playlists-item">
					<div class="playlists-title">
						Клубняк
					</div>
					<div class="playlists-count">Песен: 13</div>
					<div class="playlists-controls">
						<input type="text" class="playlists-controls-rename" value="Клубняк">
						<div class="icon icon-cross"></div>
						<div class="icon icon-rename"></div>
						<div class="icon icon-done"></div>
					</div>
					<div class="tracks-button_showDescription playlists-button_showDescription"></div>
				</li>
				<li class="playlists-item">
					<div class="playlists-title">
						Золотые купола и тд
					</div>
					<div class="playlists-count">Песен: 17</div>
					<div class="playlists-controls">
						<input type="text" class="playlists-controls-rename" value="Золотые купола и тд">
						<div class="icon icon-cross"></div>
						<div class="icon icon-rename"></div>
						<div class="icon icon-done"></div>
					</div>
					<div class="tracks-button_showDescription playlists-button_showDescription"></div>
				</li>
			</ul>
