---
title:
inner: " class='inner'"
footer: true
---

			<div class="tabs tabs_radio">
				<ul class="tabs-links">
					<li class="tabs-links-item tabs-links-item_active"><a href="#popular">Популярное</a></li>
					<li class="tabs-links-item"><a href="#city">Город</a></li>
				</ul>
				<div class="radio-down"></div>
			</div>
			<div class="tracks radio">
				<ul id="popular" class="tabs-block tabs-block_active">
					<li class="tracks-item">
						<div class="b-line b-line_pic">
							<div class="b-line-pic">
								<%= image_tag "unused/010.jpg" %>
							</div>
							<a href="" class="b-line-title">
								<span>Свежее</span>
							</a>
							<div class="radio-city">Москва</div>
						</div>
					</li>
					<li class="tracks-item">
						<div class="b-line b-line_pic">
							<div class="b-line-pic">
								<%= image_tag "unused/011.jpg" %>
							</div>
							<a href="" class="b-line-title">
								<span>Trans Mission</span>
							</a>
							<div class="radio-city">Москва</div>
						</div>
					</li>
					<li class="tracks-item">
						<div class="b-line b-line_pic">
							<div class="b-line-pic">
								<%= image_tag "unused/012.jpg" %>
							</div>
							<a href="" class="b-line-title">
								<span>Кекс</span>
							</a>
							<div class="radio-city">Екатеринбург</div>
						</div>
					</li>
					<li class="tracks-item">
						<div class="b-line b-line_pic">
							<div class="b-line-pic">
								<%= image_tag "unused/013.jpg" %>
							</div>
							<a href="" class="b-line-title">
								<span>Гоп FM</span>
							</a>
							<div class="radio-city">Москва</div>
						</div>
					</li>
					<li class="tracks-item">
						<div class="b-line b-line_pic">
							<div class="b-line-pic">
								<%= image_tag "unused/014.jpg" %>
							</div>
							<a href="" class="b-line-title">
								<span>DFM</span>
							</a>
							<div class="radio-city">Санкт-Петербург</div>
						</div>
					</li>
					<li class="tracks-item">
						<div class="b-line b-line_pic">
							<div class="b-line-pic">
								<%= image_tag "unused/015.jpg" %>
							</div>
							<a href="" class="b-line-title">
								<span>Dance</span>
							</a>
							<div class="radio-city">Москва</div>
						</div>
					</li>
					<li class="tracks-item">
						<div class="b-line b-line_pic">
							<div class="b-line-pic">
								<%= image_tag "unused/016.jpg" %>
							</div>
							<a href="" class="b-line-title">
								<span>Супер Дискотека 90-х</span>
							</a>
							<div class="radio-city">Санкт-Петербург</div>
						</div>
					</li>
					<li class="tracks-item tracks-item_active">
						<div class="b-line b-line_pic">
							<div class="b-line-pic">
								<%= image_tag "unused/012.jpg" %>
							</div>
							<a href="" class="b-line-title">
								<span>Кекс</span>
							</a>
							<div class="radio-city">Москва</div>
						</div>
					</li>
				</ul>
				<ul id="city" class="tabs-block">
					<li class="tracks-item">
						<div class="b-line b-line_pic">
							<div class="b-line-pic">
								<%= image_tag "unused/001.jpg" %>
							</div>
							<a href="" class="b-line-title">
								<span>Свежее</span>
							</a>
							<div class="radio-city">Москва</div>
						</div>
					</li>
					<li class="tracks-item tracks-item_active">
						<div class="b-line b-line_pic">
							<div class="b-line-pic">
								<%= image_tag "unused/001.jpg" %>
							</div>
							<a href="" class="b-line-title">
								<span>Свежее</span>
							</a>
							<div class="radio-city">Москва</div>
						</div>
					</li>
				</ul>
			</div>
