---
title:
inner: " class='inner'"
footer: false
---

			<div class="songLine">
				<div class="songLine-title">Daft Punk Featuring Pharrell</div>
				<div class="songLine-artist">Get Lucky</div>
			</div>
			<div class="song-control">
				<a href="" class="song-control-play"></a>
				<a href="" class="song-control-download"></a>
				<a href="" class="song-control-save"></a>
			</div>
			<div class="song-addition">
				<div class="song-info">
					<div class="song-info-duration">2:43</div>
					<div class="song-info-size">6.37 МБ</div>
					<div class="song-info-quality">320 кб/с</div>
					<div class="song-info-downloadCount">1348</div>
				</div>
				<div class="song-sharing">
					<div class="first">
						<p>Добавлена 7 мая 2013 пользователем <b>UserName 34</b></p>
						<div class="song-sharing-button"></div>
					</div>
					<div class="second">
						<p>Поделиться</p>
						<div class="song-sharing-button"></div>
						<ul class="song-sharing-list">
							<li data-app="mail"><a href="">143</a></li>
							<li data-app="gplus"><a href="">2</a></li>
							<li data-app="fb"><a href="">13</a></li>
							<li data-app="vk"><a href="">27</a></li>
							<li data-app="classmates"><a href="">68</a></li>
							<li data-app="twi"><a href="">5</a></li>
							<li class="clearboth"></li>
						</ul>
					</div>
				</div>
				<div class="song-another b">
					<div class="first">
						<div class="b-line b-handler">
							<div class="b-line-title">
								<span>Другие песни исполнителя</span>
							</div>
							<div class="b-line-arrow"></div>
						</div>
					</div>
					<div class="second">
						<div class="b-line b-handler b-line_pic b-line_multiline">
							<div class="b-line-pic">
								<%= image_tag "unused/002.jpg" %>
							</div>
							<div class="b-line-title">
								<span>Другие песни исполнителя</span>
								<span><a href="">Daft Punk</a></span>
							</div>
							<div class="b-line-arrow"></div>
						</div>
						<ul>
							<li class="tracks-item">
							<div class="tracks-name">
								<a href="">
									<span class="tracks-name-title">Give Life Back To Music</span>
								</a>
							</div>
							<div class="tracks-time">3:26</div>
							<div class="tracks-description">
								<a href="" class="tracks-download"></a>
								<a href="" class="tracks-save"></a>
								<a href="" class="tracks-info"></a>
							</div>
							<div class="tracks-button_showDescription"></div>
						</li>
						<li class="tracks-item">
							<div class="tracks-name">
								<a href="">
									<span class="tracks-name-title">Technologic</span>
								</a>
							</div>
							<div class="tracks-time">3:39</div>
							<div class="tracks-description">
								<a href="" class="tracks-download"></a>
								<a href="" class="tracks-save"></a>
								<a href="" class="tracks-info"></a>
							</div>
							<div class="tracks-button_showDescription"></div>
						</li>
						<li class="tracks-item">
							<div class="tracks-name">
								<a href="">
									<span class="tracks-name-title">The Game Of Live</span>
								</a>
							</div>
							<div class="tracks-time">2:40</div>
							<div class="tracks-description">
								<a href="" class="tracks-download"></a>
								<a href="" class="tracks-save"></a>
								<a href="" class="tracks-info"></a>
							</div>
							<div class="tracks-button_showDescription"></div>
						</li>
						<li class="tracks-item">
							<div class="tracks-name">
								<a href="">
									<span class="tracks-name-title">Giorgio By Moroder</span>
								</a>
							</div>
							<div class="tracks-time">3:16</div>
							<div class="tracks-description">
								<a href="" class="tracks-download"></a>
								<a href="" class="tracks-save"></a>
								<a href="" class="tracks-info"></a>
							</div>
							<div class="tracks-button_showDescription"></div>
						</li>
						<li class="tracks-item">
							<div class="tracks-name">
								<a href="">
									<span class="tracks-name-title">Make Love</span>
								</a>
							</div>
							<div class="tracks-time">3:26</div>
							<div class="tracks-description">
								<a href="" class="tracks-download"></a>
								<a href="" class="tracks-save"></a>
								<a href="" class="tracks-info"></a>
							</div>
							<div class="tracks-button_showDescription"></div>
						</li>
						</ul>
					</div>
				</div>
				<div class="song-comments b">
					<div class="first">
						<div class="b-line b-handler">
							<div class="b-line-title">
								<span>Комментарии</span>
							</div>
							<div class="b-line-arrow"></div>
						</div>
					</div>
					<div class="second">
						<div class="b-line b-handler">
							<div class="b-line-title">
								<span>Комментарии</span>
							</div>
							<div class="b-line-arrow"></div>
						</div>
						<ul>
							<li>
								<div class="song-comments-author">sanchaos29</div>
								<div class="song-comments-date">сегодня</div>
								<div class="song-comments-text">
									<p>КЛАССНАЯ ПЕСНЯ!!!!! ХОЧУ СОЗДАТЬ РОЛИК, ДЛЯ СВОЕГО ЛЮБИМОГО ЧЕЛОВЕКА, В ОСНОВУ КОТОРЯ ВОЙДЕТ ПЕСНЯ "О БОЖЕ КАКОЙ МУЖЧИНА".</p>
								</div>
							</li>
							<li>
								<div class="song-comments-author">sanchaos29</div>
								<div class="song-comments-date">сегодня</div>
								<div class="song-comments-text">
									<p>О боже как же ты надоела .... #давайдосвидания</p>
								</div>
							</li>
							<li>
								<div class="song-comments-author">sanchaos29</div>
								<div class="song-comments-date">сегодня</div>
								<div class="song-comments-text">
									<p>очень классная песня я от неё балдеюp>
								</div>
							</li>
							<li>
								<div class="song-comments-author">sanchaos29</div>
								<div class="song-comments-date">сегодня</div>
								<a href="" class="song-comments-add">Написать</a>
								<div class="song-comments-newtext"><textarea></textarea></div>
							</li>
						</ul>
						<a href="" class="song-comments-button b-line">
							Добавить<i></i>
						</a>
					</div>
				</div>
			</div>
